<div class= "row">
  <p> You need to log in to continue, I'm sure you don't want to remember yet another password so please select one of the following social networks to sign in: </p>
</div>
<div class="log-in row">
  <div class="col-md-6">
    <a href="/auth/facebook"> <%= image_tag("facebook-large.png", class: "img-responsive img-rounded log-in-image") %> Facebook </a> <br>
    <a href="/auth/github"> <%= image_tag("github-large.png", class: "img-responsive img-rounded log-in-image") %> GitHub </a> <br>
  </div>
  <div class="col-md-6">
    <a href="/auth/linkedin"> <%= image_tag("linkedin-large.png", class: "img-responsive img-rounded log-in-image") %> LinkedIn </a> <br>
    <a href="/auth/gplus"> <%= image_tag("googleplus-large.png", class: "img-responsive img-rounded log-in-image") %> Google + </a> <br>
  </div>
</div>

<br>
<div class="row">
  <p> Nothing will be posted to your news feed etc, your profile will only be used to verify who you are, find your name (or nickname) and image for comments.</p>
</div>
