<h1>Contact Me:</h1>

<div class='contact_me'>
  <div class= "contact_option">
    <h3>Via Email:</h3>
    
    <a href="mailto:marc.burt@gmail.com"> <%= image_tag("mail.png") %> </a> 

  </div>

  <div class= "contact_option">
    <h3>Via Github:</h3>
    
    <a href="https://github.com/MarcBurt"> <%= image_tag("github.png") %> </a>

  </div>

  <div class= "contact_option">
    <h3>Via LinkedIn: </h3>
    
    <a href="http://uk.linkedin.com/in/marcburt"> <%= image_tag("linkedin.png") %> </a> 
  </div>

  <div class= "contact_option">
    <h3>Via Twitter: </h3>
    <a href="https://twitter.com/_MarcBurt_"> <%= image_tag("twitter.png") %> </a> 
  </div>
</div>

