<div class= "container-fluid row" > 
  <p class = "intro">  
    <h3>Welcome to my website</h3>
    <br>
    Hi I'm Marc, early 2014 I decided to retrain myself as a web developer specialising in Ruby & Ruby on Rails. <br>
    This is my blog, where I intend to write about my experiences from learning and using Ruby & Web Development in general.
    <br><br>
    This simple website & blog is the first web app I created on my own, please let me know if you find any bugs!
  </p>

</div> 

<div class= "row">
  <div id="front-post" class= "col-md-6">
  <h3>Latest Blog Post:</h2>
    <% if  @post %>
    	<h4><%= link_to @post.title, @post %></h4>
    	<p><%= @safe_content.html_safe %>
    	<%= link_to "Show Full Post", @post %>
    <% else %>
    	<h3>No Posts Yet!</h3>
    <% end %>
  </div>

  <div class= "col-md-6">
    <%= image_tag("Profile-Pic.png", class: "img-responsive img-rounded front-pic pull-right") %>
   
  </div>
</div
