Front Page!

<h2>Latest Post:</h2>
<% if  @post %>
	<h3><%= link_to @post.title, @post %></h3>
	<p><%= @post.content %></p>

	<%= link_to "Show", @post %>
<% else %>
	<h3>No Posts Yet!</h3>
<% end %>


