<h1>My Blog</h1>


<% @posts.each do |post| %>
	<h2> <%= link_to post.title, post %> </h2>
	<p> <%= post.content %> </p>
	<hr>
<% end %>

<%= link_to "New Post", new_post_path, class: "btn btn-primary btn-lg"%>
