.main {
  padding-top: 60px
}

.brand  {
  padding: 10px 10px;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  font-size: 24px;
  color: 000px;
}

.brand a:visited { color: #000; text-decoration: none; }
